// main : index.scss

@mixin dock() {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

@mixin smoothYScrolling(){
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x:hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

// USAGE:
// @include opacity(0.8);
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


// USAGE:
// @include transition(color .3s ease);
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// USAGE:
// @include transform(translateX(100px));
@mixin transform ($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// USAGE
// @include box-shadow(inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1));
@mixin box-shadow($shadow...) {
   -webkit-box-shadow: $shadow;
   box-shadow: $shadow;
}


/*
USAGE:
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}
*/
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

/*
USAGE:
@include animation('slide-down 5s 3');
*/
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

/*
USAGE:
@include animation-with-fill-mode(fadeOutLeft, .5s, both);
*/
@mixin animation-with-fill-mode($animation-name, $duration, $fill-mode){
    -webkit-animation:$animation-name;
    animation:$animation-name;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-fill-mode: $fill-mode;
    animation-fill-mode: $fill-mode;
}


@mixin animation-delay($str) {
    -webkit-animation-delay: #{$str};
  -moz-animation-delay: #{$str};
  animation-delay: #{$str};
}


@mixin user-select($select) {
  -webkit-user-select: $select;
     -moz-user-select: $select;
      -ms-user-select: $select;
          user-select: $select;
}

@mixin touch-callout($value: none) {
  -webkit-touch-callout: $value;
}