@font-face {
  font-family: 'xui-alert';
  src:
    url('fonts/xui-alert.ttf?3f10y6') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="xui-icon-alert-"], [class*=" xui-icon-alert-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xui-alert' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xui-icon-alert-cancel:before {
  content: "\e5c9";
}
.xui-icon-alert-check_circle:before {
  content: "\e86c";
}
.xui-icon-alert-close:before {
  content: "\e5cd";
}
.xui-icon-alert-error2:before {
  content: "\e000";
}
.xui-icon-alert-info:before {
  content: "\e88e";
}
