@font-face {
  font-family: 'xui-alert-icomoon';
  src:
    url('fonts/xui-alert-icomoon.ttf') format('truetype'),
    url('fonts/xui-alert-icomoon.woff') format('woff'),
    url('fonts/xui-alert-icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="xui-alert-icomoon-"], [class*=" xui-alert-icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xui-alert-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xui-alert-icomoon-cancel:before {
  content: "\e5c9";
}
.xui-alert-icomoon-check:before {
  content: "\e5ca";
}
.xui-alert-icomoon-check_circle:before {
  content: "\e86c";
}
.xui-alert-icomoon-close:before {
  content: "\e5cd";
}
.xui-alert-icomoon-do_not_disturb_alt:before {
  content: "\e611";
}
.xui-alert-icomoon-error2:before {
  content: "\e000";
}
.xui-alert-icomoon-error_outline:before {
  content: "\e001";
}
.xui-alert-icomoon-help:before {
  content: "\e887";
}
.xui-alert-icomoon-help_outline:before {
  content: "\e8fd";
}
.xui-alert-icomoon-info:before {
  content: "\e88e";
}
.xui-alert-icomoon-info_outline:before {
  content: "\e88f";
}
