// the size of the loading spinner
$xui-loading-spinner-size-sml: 14px !default;
$xui-loading-spinner-size: 24px !default;
$xui-loading-spinner-size-lrg: 34px !default;
$xui-loading-spinner-size-xlrg: 44px !default;

// the size of the border
$xui-loading-spinner-border-size-sml: 2px !default;
$xui-loading-spinner-border-size: 2px !default;
$xui-loading-spinner-border-size-lrg: 3px !default;
$xui-loading-spinner-border-size-xlrg: 3px !default;

// the color of the full circle
$xui-loading-spinner-background-color: rgba(0,0,0,0.05) !default;

// the color of the spinning circle
$xui-loading-spinner-foreground-color: #9BC4BC !default;

// the speed of the loading spinner
$xui-loading-spinner-speed: 0.9s !default;