$xui-alert-padding-size: 16px;
$xui-alert-border-radius: 4px;

$xui-alert-success-bg-color: #dff0d8;
$xui-alert-success-border-color: #d6e9c6;
$xui-alert-success-text-color: #3c763d;

$xui-alert-info-bg-color: #d9edf7;
$xui-alert-info-border-color: #bce8f1;
$xui-alert-info-text-color: #31708f;

$xui-alert-warning-bg-color: #fcf8e3;
$xui-alert-warning-border-color: #faebcc;
$xui-alert-warning-text-color: #8a6d3b;

$xui-alert-danger-bg-color: #f2dede;
$xui-alert-danger-border-color: #ebccd1;
$xui-alert-danger-text-color: #a94442;