$xui-alert-padding-size: 16px !default;
$xui-alert-border-radius: 4px !default;

$xui-alert-success-bg-color: #dff0d8 !default;
$xui-alert-success-border-color: #d6e9c6 !default;
$xui-alert-success-text-color: #3c763d !default;

$xui-alert-info-bg-color: #d9edf7 !default;
$xui-alert-info-border-color: #bce8f1 !default;
$xui-alert-info-text-color: #31708f !default;

$xui-alert-warning-bg-color: #fcf8e3 !default;
$xui-alert-warning-border-color: #faebcc !default;
$xui-alert-warning-text-color: #8a6d3b !default;

$xui-alert-danger-bg-color: #f2dede !default;
$xui-alert-danger-border-color: #ebccd1 !default;
$xui-alert-danger-text-color: #a94442 !default;