@import "../mixins";
@import "./icon-fonts";
@import "./variables";

%font-icon-shared {
  font-family: 'xui-alert' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

.xui-alert {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: $xui-alert-padding-size;
  padding-right: 48px;
  margin-bottom: $xui-alert-padding-size;
  border-radius: $xui-alert-border-radius;
  position: relative;

  p {
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: $xui-alert-padding-size / 2;
  }

  &.xui-alert-icon {
    padding-left: $xui-alert-padding-size + 40;
    &:before {
      @extend %font-icon-shared;
      position: absolute;
      left: 16px;
      top: 50%;
      margin-top: -12px;
    }
  }

  &.xui-alert-success {
    background-color: $xui-alert-success-bg-color;
    border-color: $xui-alert-success-border-color;
    color: $xui-alert-success-text-color;
    &.xui-alert-icon {
      &:before {
        content: "\e86c";
      }
    }
  }

  &.xui-alert-info {
    background-color: $xui-alert-info-bg-color;
    border-color: $xui-alert-info-border-color;
    color: $xui-alert-info-text-color;
    &.xui-alert-icon {
      &:before {
        content: "\e88e";
      }
    }
  }

  &.xui-alert-warning {
    background-color: $xui-alert-warning-bg-color;
    border-color: $xui-alert-warning-border-color;
    color: $xui-alert-warning-text-color;
    &.xui-alert-icon {
      &:before {
        content: "\e000";
      }
    }
  }

  &.xui-alert-danger {
    background-color: $xui-alert-danger-bg-color;
    border-color: $xui-alert-danger-border-color;
    color: $xui-alert-danger-text-color;
    &.xui-alert-icon {
      &:before {
        content: "\e5c9";
      }
    }
  }

  .xui-alert-close {
    border: none;
    background-color: transparent;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 8px;
    height: 34px;
    line-height: 38px;
    width: 34px;
    font-size: 18px;
    padding: 0px;
    cursor: pointer;
    color: #000;
    opacity: 0.2;
    &:before {
      @extend %font-icon-shared;
      font-size: 20px;
      content: "\e5cd";
    }
    &:hover {
      opacity: 0.5;
    }
  }
}